tests/data/pywb/*.warc -diff -text
tests/data/pywb/*.gz -diff -text
tests/data/pywb/*.bad -diff -text
tests/data/warcio/*.warc -diff -text
tests/data/warcio/*.gz -diff -text
tests/data/warcio/*.bad -diff -text
